.container{
    padding: 20px;
   
    
}

.child{
    border: 1px solid rosybrown;
    height: 100px;
    width: 100px;
    position: fixed;
    background: rosybrown;
    
    
}

.child1{
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    position: fixed;
    left: 100px;
    top: 100px;
    background: blue;
    z-index: -1;
   
}

.child2{
    border: 1px solid greenyellow;
    height: 100px;
    width: 100px;
    position: fixed;
    left: 170px;
    top: 170px;
    background: greenyellow;
    z-index: -2;
   
}