.container{
    padding: 20px;
   
    
}

.child{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    position: relative;
    
    
}

.child1{
    border: 1px solid greenyellow;
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
    top: 100px;
   
}

.child2{
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    position: relative;
    left: 170px;
    top: 170px;
   
}